[2020-08-14 20:35] jehartzog opened #71 "Feature Recommendation: Callback for raw push object after notification pressed"
We are currently in the process of migrating our react native application to use this lib for all push notifications. We previously used the more general libs `react-native-push-notification v4.0.0`, `@react-native-community/push-notification-ios v1.3.0`, and `react-native-firebase v5.6.0`. We used Iterable to actually send push notifications, but just processed the raw payload ourselves to get th

[2020-09-11 15:10] shzhng opened #74 "Declaration missing for disableDeviceForCurrentUser in RNIterableAPI.m"
[code]

Ran into this issue in our project - we are using Objective-C rather than Swift.

Looking at the declarations in `RNIterableAPI.m`, it looks like `disableDeviceForCurrentUser` is indeed missing; instead I see `disableDeviceForAllUsers`. Yet in `ReactIterableAPI.swift` I see `disableDeviceForCurrentUser` and not `disableDeviceForAllUsers`.

[2020-09-24 19:40] jehartzog opened #76 "Android: App not focused on push notification press if backgrounded and custom url is handled"
### Reproduction

1. Using Android app, use this lib and add a custom `urlHandler` which processes the `url` and returns `true`
1. Open the Android device, and then hit `home` button to place app in background (but still running)
1. Using Iterable Web UI, send a test push from a template with a `Push open action` of `Open URL`
1. On Android device, press the push

### Expected

1. App will process

[2020-09-30 21:32] #74 closed

[2020-10-01 23:14] jehartzog commented on #76
After further integration work, we found that this was also the case whenever `customActionHandler` was set, and unlike with the `urlHandler` we could not do a simple workaround.

We dived into the code and submitted #79 which should clear the issue, and result in consistent behavior between iOS/Android when pressing on push notifications.

We're thankful these libraries are own source, allowing u

[2020-10-05 21:02] #76 closed

[2020-10-05 21:18] jehartzog opened #80 "Bug: Android Notification Actions not executed if pressed when app is closed"
### Reproduction

1. Using Android RN app, add a `customActionHandler` to this lib.
1. Using Iterable Web UI, create a push template with a push action button with `Open app` option selected.
1. Start the app, then force close it using Android swipe gesture.
1. Using Iterable Web UI, send push to device, press on the Notification Action on device

### Expected

1. App will come into focus, and exe

[2020-10-05 21:41] vbabenkoru commented on #80
We construct a `PendingIntent` that sends a broadcast message when the push or any of the action buttons are clicked. There is a `BroadcastReceiver` in the SDK that handles those clicks.
The issue in RN SDK is that the SDK is initialized from RN `App`, and that happens much later than `Application#onCreate`. Our SDK requires that it is initialized in `Application#onCreate` to make sure all callbac

[2020-10-05 23:08] jehartzog opened #81 "Bug: Android background push notification actions don't wake up RN SDK if app closed"
### Reproduction

1. Using Android RN app, add a `customActionHandler` to this lib.
1. Using Iterable Web UI, create a push template with a push action button with `Open app` option **NOT** selected.
1. Start the app, then force close it using Android swipe gesture.
1. Using Iterable Web UI, send push to device, press on the Notification Action on device.

### Expected

1. Notification will dismis

[2020-10-05 23:10] jehartzog commented on #80
@vbabenkoru Thank you for such a quick response.

Your explanation makes sense. My follow up is that it seems `@iterable/react-native-sdk` only supports initialization from `RN App`, correct? So at this time there is not workaround to make sure that `iterable-android-sdk` is always aware that there is a `@iterable/react-native-sdk` that should be receiving these events (#81).

[2020-10-06 01:01] vbabenkoru commented on #80
Yes. I think a 'proper' solution would be to store a pending action if the SDK is not initialized, and executing it after SDK initialization. That'd be a fix in the native SDK. We have this in the backlog, just haven't gotten around to implementing it yet.

[2020-10-07 00:03] fernandatoledo opened #82 "Bug: doesn't build on ios lower than 14"
When building the iOS app the compilation fails with the following error: Type 'UIUserInterfaceIdiom' has no member 'mac'

the mac value was added in iOS 14, as specified in the documentation: https://developer.apple.com/documentation/uikit/uiuserinterfaceidiom/mac

[2020-10-08 17:48] shzhng commented on #80
@jehartzog @vbabenkoru am i right in presuming this also afflicts push notifications where the action is **Open URL** with a deep link url? we are seeing push notifications opening the app, but although we have a custom urlHandler defined, it doesn't trigger and navigation does not happen.

[2020-10-09 19:13] jehartzog commented on #80
@shzhng Correct. It was easier at first for us, we could return `false` from our `config.urlHandler` for Android only, and rely on [this code](https://github.com/Iterable/react-native-sdk/blob/2bdece7fbfede1250c5b1fc7ac2ca06add3ad5c5/ts/Iterable.ts#L184) to execute it. But it's complicated because you can no longer really do the full behavior you may expect to be able to do in a custom handler, as

[2020-10-22 14:59] camdengilliam opened #86 "Unable to archive on XCode 12"
When trying to archive a RN iOS build with the Iterable RN SDK as a dependency in XCode 12, the archive process fails:

[code]

Note, we are able to run the app in Debug mode.

Environment:

xcode - 12.0.1
build target - iOS 11

[2020-10-22 20:29] roninopf commented on #82
Hi @fernandatoledo, thanks for writing in! We just released 1.0.15; can you try that and see if that fixes this? We know that it's been fixed on the native side, and the 1.0.15 release points to the latest iOS SDK now (2 days ago as of writing).

[2020-10-22 20:31] roninopf commented on #86
Hi @camdengilliam, we just released 1.0.15; can you try that and see if it fixes this? We saw this same error on the native side and fixed it there; it's now been updated in 1.0.15 which points to our latest iOS SDK release (2 days ago as of writing).

[2020-10-22 21:23] bhandanyan-nomad commented on #86
Also experiencing this issue. Just tried v1.0.15 and the error persists.

xcode 12.0.1
build target - ios 12.0

[2020-10-22 22:20] bradherman commented on #86
Same happening here

[2020-10-22 22:31] bradherman commented on #86
Also updated my project and packages and now seeing this when pod installing:

[code]

[2020-10-23 00:08] roninopf commented on #86
Thanks for the feedback, clearly more investigation/fixing is required.

@bradherman can you open a new issue with that error? It looks like a separate error since dependencies should be the same as they have been for a long time.

[2020-10-23 03:00] camdengilliam commented on #86
I can confirm that 1.0.15 is also not working for me - the same error persists.

[2020-10-23 17:54] bradherman commented on #86
@roninopf... I deleted my node_modules folder, derived data folder, updated all packages in package.json, deintegrated pods, and then reinstalled them and that error cleared up. Still unable to compile/archive for release though.  Builds for test devices, but archive fails with the same error others are seeing.

[2020-10-27 17:12] bradherman commented on #86
@roninopf... any update on this?  happy to help debug further if you need output from XCode or anything

[2020-10-27 17:50] camdengilliam commented on #86
+1

[2020-10-28 16:58] bhandanyan-nomad commented on #86
+1

[2020-10-28 23:34] roninopf commented on #86
@bradherman Thanks for the note; yes it's something we're working on right now. And yes, please do pass along Xcode output!

[2020-10-29 20:00] hytea opened #89 "Build fails with 'Cannot Find "backgroundAlpha" in scope' error"
I am getting an error when I compile for iOS:
`node_modules/@iterable/react-native-sdk/ios/RNIterableAPI/Serialization.swift:146:35: error: cannot find 'backgroundAlpha' in scope
        dict["backgroundAlpha"] = backgroundAlpha`
![image](https://user-images.githubusercontent.com/15982991/97625526-3fe7d180-19ee-11eb-9673-89cff9d46c17.png)

- Iterable-React-Native-SDK (1.0.15)
- Iterable-iOS-SDK (6

[2020-10-29 20:54] roninopf commented on #89
Hi @hytea, thanks for the report. We'll fix this ASAP and make a new release.

[2020-11-02 19:22] alex-a-pereira commented on #86
Thanks for being on top of this guys. I'm also seeing the same error message that OP posted - tried to remove node_modules, clear all caches, pod deintegrate, and re-install node modules/pods. like OP I'm able to make a debug build on my iphone with no problem, but trying to archive fails for the same reason.

I'm using xcode 12.1 and OSX 10.15.7 if that's helpful at all. Let me know if there's an

[2020-11-02 23:04] nicksnietka commented on #86
+1

[2020-11-03 18:09] alex-a-pereira commented on #86
Additionally I've attempted to downgrade xcode to 11.7, and roll back iterable SDK to 1.0.12. Unfortunately I'm getting the same compile error as described above ^^

Should note that we haven't had a successful archive yet - we've just started attempting last week. So I can't confirm if xcode 12 or iterable-rn-sdk 1.0.12 or 1.0.15 is what's causing the issue

[2020-11-04 22:17] roninopf commented on #86
Hi all, thanks for your extreme patience; to give an update, we've identified that the issue is in the configuration of the iOS SDK not being a static library. We're continuing to work on this (of course), and we'll post about it when we have more updates or a new release.

Thank you again for your patience and constructive replies!

[2020-11-05 02:29] roninopf commented on #86
Hi again everybody! While we're still working on making the iOS SDK compatible, we do have a POSSIBLE workaround depending on what dependencies you're currently using.

We've figured out why this issue came to be; in 0.63, React Native introduced some new libraries that are turned on by default in the `Podfile`, but block the usage of `use_frameworks!`. Turns out, our SDK needs this in the `Podfil

[2020-11-05 02:43] roninopf commented on #89
Hi @hytea , this is fixed in our latest release (1.0.18); thanks for the report! When you use the SDK, please take a look at our [iOS workaround note](https://github.com/Iterable/react-native-sdk/issues/86#issuecomment-722086119) in case it applies.

We'll close this, but if you have any further questions, please feel free to open an issue here or through your CSM/TSS.

[2020-11-05 02:43] #89 closed

[2020-11-12 13:32] blackbing commented on #86
+1

[2020-11-13 03:32] blackbing commented on #86
@roninopf I received error message if I turn off flipper and set `use_frameworks!`
[code]

still not work.

[2020-11-13 21:27] roninopf commented on #86
@blackbing Can you post what the Podfile looks like? Feel free to make a request through a CSM if you don't want to share it publicly.

[2020-11-16 02:40] blackbing commented on #86
@roninopf ok, here is our Podfile
[code]

[2020-11-18 19:11] robotnoises commented on #86
Hi all, so we have static dependencies (Firebase). Am I understanding correctly that the use of static libraries means we can't use the workaround?

[2020-11-18 19:38] jehartzog opened #92 "Feature Recommendation: Move InApp Message 'read' data from local storage to API"
## TL/DR

The `read` field on all InApp messages is stored locally on a single device, so this field is reset if a user logs out, and then logs back in, or switches device. We had expected this to be stored on the API, to ensure a user doesn't seen old messages already seen, even if they switch devices or have to re-auth.

## Long version

We recently integrated the InApp messages to replace some

[2020-11-18 19:54] jehartzog commented on #92
I realize this may not be correct place to post this. Technically this would be a change in both iOS and Android SDKs, as well as API.

[2020-11-18 22:17] jehartzog commented on #92
Just found the place in [api docs](https://api.iterable.com/api/docs#In-app_getMessages) which explicitly state this:

[2020-11-18 23:10] jehartzog opened #93 "Bug: Android InApp messages rendered incorrectly (too small, stuck at top of screen)"
## Description

We're seeing on a range of Android devices that the InApp messages are being rendered incorrectly. We've tried different `Display type` settings, including `Center`, `Full`, and `Bottom`, but the webview often gets rendered at the very top of the screen in way too small of a scale.

I've seen a few cases where it seemed to render correctly, so this issue may be conditional. But we'

[2020-11-19 04:12] vbabenkoru commented on #93
@jehartzog Thank you for the report! This is very likely content-specific, and for that I think the best channel would be to contact our Technical Support; they'll escalate to Engineering so we can look and try to reproduce this with a specific campaign. Thanks!

[2020-11-19 23:26] jehartzog commented on #93
@vbabenkoru Thank you for response! I'm happy to go through Technical Support channel, and will do so immediately. I have my doubts though this is content-specific, I have created a minimal content example which reproduces this for us:

[code]
Result:

![image](https://user-images.githubusercontent.com/14143246/99736468-a6a75a80-2a83-11eb-801b-2a3064564bbc.png)

That being said, I will continue w/

[2020-11-23 17:36] jehartzog commented on #93
Thanks again for the assistance here, the issue was content related. They aren't necessary for iOS but break Android pretty badly if they are excluded:

- To allow vertical alignment/centering to work, `<!DOCTYPE html>` is needed at the top.
- The fix the scaling issue, `<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">` must be included.

These are not inclu

[2020-11-23 17:36] #93 closed

[2020-11-26 09:31] yum650350 commented on #86
@roninopf The workaround doesn't work, comment out `Flipper` and add `use_frameworks!` still get the same error.
[code]

[2020-12-02 21:53] vbabenkoru commented on #81
@jehartzog Thank you for the report! This should be fixed with the new release, 1.0.19.

[2020-12-02 21:53] #81 closed

[2020-12-02 21:55] vbabenkoru commented on #80
@jehartzog @shzhng We've released a new version, 1.0.19, that should address this issue. It bumps the dependencies to the recent iOS/Android SDK versions where we added support for delayed initialization.

[2020-12-02 21:55] #80 closed

[2020-12-04 18:25] bradherman commented on #86
How's this coming along?  We've been paying thousands of dollars a month for a product we can't use

[2020-12-10 07:36] yum650350 commented on #86
We have same issue here, also using Firebase

[2020-12-14 03:22] yum650350 opened #98 "Thread 6: EXC_BAD_ACCESS (code=1, address=0x1)"
iOS build success but crash when `Iterable.initialize` is called

![Screen Shot 2020-12-14 at 10 38 11 AM](https://user-images.githubusercontent.com/48589760/102034260-88214e80-3df8-11eb-8b30-09b30f400549.png)

[code]

### Environment
[code]

[2020-12-14 23:19] shzhng commented on #80
@vbabenkoru we've upgraded `@iterable/react-native-sdk` to 1.0.19, and subsequently the android dependency `implementation "com.iterable:iterableapi:3.2.9"` (have you considered having this be a direct `implementation` dependency in this library rather than `api` as it currently is?)

Unfortunately the problem still persists. We are passing in a custom `urlHandler` and it still does not trigger on

[2020-12-14 23:50] roninopf commented on #86
Hi all, I apologize for the delays in fixing this. We think we have a fix which is as follows:

- open the iOS project/workspace project file
- select the application target on the left side of the project filee
- go to the `Build Settings` tab
- toggle `Levels` on
- search for `Library Search Paths`
- double click the project level text box that applies to both build configurations
- remove `"$(T

[2020-12-14 23:52] #82 closed

[2020-12-14 23:53] roninopf commented on #98
Hi @yum650350, just for more clarification, you only set the `urlHandler`, but then it's crashing on the `authDelegate`?

[2020-12-15 11:55] camdengilliam commented on #86
Thanks for tracking this down! I will post back here if this solution works for me.

[2020-12-17 18:58] yum650350 commented on #86
@roninopf The solution works for us, we finally can complete our task upgrading React Native, thanks a lot.

[2020-12-18 03:45] yum650350 commented on #98
@roninopf Yes, we only set the `urlHandler`, but this crash never present after we upgraded React Native to 0.63.3.

Not sure if this is due to we frequently switch between react-native 0.60.6 and 0.63.3 during the upgrading work phase.

Anyway, it isn't an issue for us right now, so closing this issue as well.

Thanks for your attention.

[2020-12-18 03:45] #98 closed

[2020-12-23 04:52] bradherman opened #101 "IterableAPI not found in .m file?"
First, I'm excited that this has launched, but I will say that the documentation could use a little polish.  It's not immediately clear what steps actually need implemented to get Iterable up and running in a React Native project as it links to lots of documentation that walks you through native integrations... This has caused a ton of confusion.  I've worked on integrating this stuff for probably

[2020-12-30 00:15] shzhng commented on #80
@vbabenkoru any chance you know the issue/problem that we're running into?

[2020-12-30 00:19] vbabenkoru commented on #80
We'll take a look at this soon, thank you for posting this.

This is done on purpose, so that the app can access Iterable SDK APIs directly if needed. When using `implementation`, transitive dependencies are not accessible from the app code.

[2021-01-13 20:27] ivansnek opened #102 "InApp messages animation glitch on iOS"
### Description
<hr/>

When trying to implement [InApp messages](https://support.iterable.com/hc/en-us/articles/360045714172-In-App-Messages-with-Iterable-s-React-Native-SDK-) with the WYSIWYG editor, the animation glitches on iOS devices, we're testing with the latest library version.

- **Display type**: Using Center or Full it always tries to display it as a slide-up animation
- **Use preset an

[2021-01-14 22:11] roninopf commented on #101
Hi @bradherman, thanks for writing in and I apologize for the late communication. Thanks for writing up specifics on what you found problematic.

Is your question around the `IterableConfig` identifier still happening? It's definitely weird that that's popping up.

[2021-01-14 22:13] roninopf commented on #102
Thank you for the extensive report; just to confirm, did you also test this on Android, or iOS only? This is very likely to be a problem with our iOS SDK (the native part), I'm suspecting, but it'd be good to rule out other avenues if possible.

[2021-01-14 22:25] ivansnek commented on #102
@roninopf Yes we did test on Android devices and issue was not present, animation is smoother on those devices, so I agree is an issue with the iOS native SDK

[2021-01-26 19:25] kknd113 commented on #86
@roninopf Thanks for the solution it works for us
@camdengilliam Thanks for raising the issue

Perhaps this workaround should be temporarily included in iterable react native sdk doc?

[2021-01-27 03:10] bradherman opened #103 "Unable to get deep links to work"
We have our app set up to open `appname://foo/bar` links.  We do not use Universal Linking because we don't have a web app, so there's nowhere to send those links.

When opening `appname://` links, the app opens properly, but the `urlHandler` function never gets called.

In `AppDelegate.m`:

[code]

In app.js:

[code]

Push notifications, in-app messaging, and registering user data are all working

[2021-01-27 04:16] #103 closed

[2021-01-28 19:22] roninopf commented on #86
Definitely, I'm planning on adding all of our relevant findings on RN to our docs soon, including this. We're also thinking it might actually not be temporary due to how RN projects get setup.

[2021-02-04 23:46] lucaswhitman opened #107 "createdAt date returning null on Android"
Hi,

We're getting ready to release an update using Iterable in app messages. We're parsing the data returned by:

[code]

And we're noticing that the `IterableInAppMessage` on Android is missing the `createdAt` date. It's showing as a null date. iOS appears to be working just fine.

referenced here:

https://github.com/Iterable/react-native-sdk/blob/master/ts/IterableInAppClasses.ts#L137

Here's

[2021-02-04 23:59] Ayyanchira commented on #107
Thank you for reporting this @lucaswhitman! I just checked as well. Its indeed giving a null 🤯
Please expect an update soon with a fix.

[2021-02-05 00:01] lucaswhitman commented on #107
@Ayyanchira thank you so much! Looking forward to an update, and we appreciate the fast response!

[2021-02-05 00:10] lucaswhitman commented on #107
`expiresAt` appears to be null too, pretty sure it was coming in on iOS so you may want to check that too

[2021-02-05 00:33] Ayyanchira commented on #107
Yep. Saw that too :) 👍

[2021-02-09 02:19] #107 closed

[2021-02-18 17:00] flochtililoch opened #112 "Build failed: Link Iterable_React_Native_SDK (x86_64)"
I'm getting this error when trying to build our iOS app:

[code]

Details on my setup:
- Xcode 12.4 (12D4e)
- React Native 0.63.3
- Iterable-React-Native-SDK (1.1.0-beta1)
- Iterable-iOS-SDK (6.3.0-beta2)

I tried cleaning and removing derived data, without success so far. Any help appreciated!

[2021-02-23 21:44] roninopf commented on #112
Hi @flochtililoch, thanks for reporting! Hmm. Without being able to see more of your setup, I'm wondering if something like this will fix your problem: https://stackoverflow.com/questions/65130609/how-to-solve-undefined-symbols-for-architecture-x86-64-on-nsscanner-swift-pod

Is the project itself fully in Objective-C or is there also a Swift bridging header? We've seen similar errors related to th

[2021-02-23 22:32] ivansnek commented on #102
In case anyone else facing this issue, it was related to 2 things:

- One of the container div CSS used: `align-items: center`. Tweak with `margin` space and `height` value.
- We're using a SVG image for a closing icon. Updated to PNG.

It seems the above issues represent an issue for iOS on "@iterable/react-native-sdk": "^1.0.18".

[2021-02-23 22:32] #102 closed

[2021-02-25 01:21] flochtililoch commented on #112
Hi @roninopf, thanks for your reply.

I tried adding a bridging header without success. I then decided to try and reproduce the issue with a stripped down RN app, to see which of our other dependencies could create the problem. We also use [HyperTrack SDK](https://github.com/hypertrack/sdk-react-native) in our app, and it appear to conflict with Iterable.

Repro case is in [this repo](https://gith

[2021-02-26 00:30] roninopf commented on #112
@flochtililoch I'll try to get to it ASAP! Thanks for the steps.

Have you also tried the fix mentioned here as well? https://github.com/Iterable/react-native-sdk/issues/86#issuecomment-744829518

I'm not sure it'll help since you're trying to even just build and not archive yet, but our past experience makes me think that there is definitely some kind of collision between search paths or target i

[2021-03-03 18:25] flochtililoch commented on #112
The root issue of this compilation error appears the same as described in https://github.com/itinance/react-native-fs/issues/964
I tried locally to amend the `Iterable-React-Native.podspec` to use `React-Core` instead of `React`, then ran `pod install` again and compiler is happy now.

[2021-03-08 22:49] davidpaulhunt opened #115 "Remove console.log statements"
The JS/TS has console.log statements in every method call.

Not only does it litter development logs, but it also [affects app performance](https://reactnative.dev/docs/performance#using-consolelog-statements).

Can you please remove the log statements?

[2021-03-08 23:51] roninopf commented on #112
@flochtililoch Interesting, thanks for the solve! Sounds like another thing to add to the RN SDK documentation list.

[2021-03-08 23:55] #112 closed

[2021-03-08 23:58] roninopf commented on #115
Thanks for letting us know @davidpaulhunt, I'll bring this up with our team, but I'm sure we can do that.

[2021-03-23 12:32] Luckygirlllll opened #117 "Error during installation of Iterable SDK (react-native versions conflict)"
I'm getting an error when trying to add Iterable SDK to my project.

`npm install @iterable/react-native-sdk`

[code]

Does this SDK support react-native v0.63.4 ?

[2021-03-25 12:17] Luckygirlllll opened #118 "IOS project is crashing after adding of Iterable SDK"
IOS project is crashing after adding of Iterable React Native SDK I'm using React Native version 0.63.4, while Iterable React Native SDK is using 0.62.2, so in order to be able to install SDK I used --legacy-peer-deps command during installation process.

Error which I'm getting from Xcode is:

ld: warning: Could not find or use auto-linked library 'swiftWebKit'
Undefined symbols for architecture

[2021-03-26 10:29] Luckygirlllll opened #119 "Error: Use of undeclared identifier 'IterableAPI'"
I was following Iterable Documentation for adding Iterable SDK for IOS and it's very confusing and unclear.
For example, this step:  In you app register device token with Iterable.

<img width="771" alt="Screenshot 2021-03-26 at 11 22 58" src="https://user-images.githubusercontent.com/10096433/112617807-bebe2a80-8e25-11eb-9dbb-f5ab8d44a426.png">

When I go to this step I see:
<img width="844" alt=

[2021-03-26 10:35] Luckygirlllll commented on #101
@bradherman I have the same problem, did you find a solution?

P.S: @roninopf Iterable React Native SDK documentation (IOS part especially) is horrible

[2021-03-26 10:54] Luckygirlllll commented on #119
@roninopf What is the solution for this error?

[2021-03-31 23:19] roninopf commented on #117
Hi @Luckygirlllll, this is an error on our part, we do support it, I'll be fixing this shortly.

[2021-03-31 23:20] roninopf commented on #118
Without seeing the project's setup at the moment, have you created a blank Swift file and bridging header?

[2021-03-31 23:24] roninopf commented on #101
@Luckygirlllll We appreciate the feedback, I realized after you mentioned it, that we don't have adding a Swift file and its bridging header to the targets. I'll make sure that gets added to the docs.

@bradherman It's been a while, is this still a problem? And is it possibly solved with generating the Swift file and bridging header?

[2021-03-31 23:28] roninopf commented on #119
@Luckygirlllll Hmm, I'm wondering if it's missing without `pod install` having been run? Or perhaps a Swift file and the bridging header needs to be created? I've seen that you ran into that in one of the other issue reports.

[2021-04-01 02:27] natesuperdraft opened #121 "when using inAppHandler method -> type NSMutableDictionary cannot be converted to NSNumber (iOS)"
constructor(props) {
    super(props);
    this.inAppHandler = (message) => message;

    const config = new IterableConfig();
    config.autoPushRegistration = false;
    config.checkForDeferredDeepLink = true;
    config.inAppDisplayInterval = 3.0; // Min gap between in-apps. No need to set this in production.
    config.urlHandler = this.urlHandler;
    config.inAppHandler = this.inAppHandler;

[2021-04-01 10:03] Luckygirlllll commented on #101
@roninopf Yeah, that will be useful if you will add this step to the documentation.

In any case, event after the adding of Swift file, there is happening an error during Archive process.

<img width="956" alt="Screenshot 2021-04-01 at 12 01 27" src="https://user-images.githubusercontent.com/10096433/113278322-148d4980-92e2-11eb-941b-d2e45599ae0b.png">

[2021-04-01 10:05] Luckygirlllll commented on #119
@roninopf Yeah, I added Swift file, however, there is still an error during the Archive process.
<img width="956" alt="Screenshot 2021-04-01 at 12 01 27" src="https://user-images.githubusercontent.com/10096433/113278646-7948a400-92e2-11eb-9d21-bd0252daaf85.png">

[2021-04-01 10:05] Luckygirlllll commented on #118
yes

[2021-04-01 22:41] roninopf commented on #92
We've now fully released this on every platform, so we'll close this out. Of course, if there's a problem, please feel free to reach out through your CSM and/or here!

[2021-04-01 22:41] #92 closed

[2021-04-01 22:43] roninopf commented on #117
We just released version 1.0.26 which now allows any version of `react` and `react-native` to be a peer dependent. This should fix this. Please feel free to open another issue through your CSM (it'll be faster) if one arises. Thanks!

[2021-04-01 22:43] #117 closed

[2021-04-01 22:45] roninopf commented on #119
@Luckygirlllll Try this fix here: https://github.com/Iterable/react-native-sdk/issues/86#issuecomment-744829518

It definitely looks like it falls under that case. If you also have a notification service extension target, you just have to follow the same steps (including making a Swift file and bridging header) for it as well.

[2021-04-02 10:26] Luckygirlllll opened #123 "Error: Use of undeclared identifier 'deviceToken'"
I'm following[ React Native Iterable documentation ](https://support.iterable.com/hc/en-us/articles/360045714132)and it says that  `didRegisterForRemoteNotificationsWithDeviceToken `should be implemented.

<img width="727" alt="Screenshot 2021-04-02 at 12 28 20" src="https://user-images.githubusercontent.com/10096433/113408071-f2153200-93ae-11eb-9581-eaddbe6e4f10.png">

I'm adding this code to App

[2021-04-02 10:29] Luckygirlllll commented on #119
This solution helped, this error during archive is not appearing any more.

[2021-04-02 10:42] Luckygirlllll commented on #123
@roninopf What is the solution for this problem?

[2021-04-05 22:40] roninopf commented on #123
I see that you've opened a ticket with our CSM, so I'll continue to correspond there. It'll be faster and easier to do so.

[2021-04-05 22:40] #123 closed

[2021-04-05 22:40] #119 closed

[2021-04-05 22:45] roninopf commented on #86
Hi all, we've gotten [our support article](https://support.iterable.com/hc/articles/360045714132#_3-configure-your-native-ios-project) updated for this specific issue, so with that, I'll be closing this issue. I've been gathering more info on different setups and how to resolve them, so, over time, you'll see more instructions on how to fix possible errors that arise from certain setups.

As alway

[2021-04-05 22:45] #86 closed

[2021-04-05 22:46] roninopf commented on #118
@Luckygirlllll Is this issue still happening? And if it is, can you group it with your current CSM ticket? It'll be much easier and faster for us to respond that way.

[2021-04-05 23:54] roninopf commented on #121
@natesuperdraft Thanks for the report; can we get a little more context on what you were trying to do, specifically?

[2021-04-05 23:56] roninopf commented on #101
Will be closing due to inactivity; please feel free to open up another ticket if it's a relevant issue, or file one with your CSM. Thanks!

[2021-04-05 23:56] #101 closed

[2021-04-06 10:11] Luckygirlllll commented on #123
@roninopf what do you mean you will correspond via CMS? I will receive messages on email about this CMS ticket from support? I can't see the statuses or progress of Iterbale CMS tickets.

[2021-04-06 10:12] Luckygirlllll commented on #118
This was a bug in the previous SDK version.

[2021-04-06 17:36] #118 closed

[2021-04-08 15:52] jehartzog opened #125 "SDK is unable to create new users"
The was first brought up in another issue [here](https://github.com/Iterable/react-native-sdk/issues/115#issuecomment-794245966), but we recently saw the same behavior. We never noticed in our previous app as we had a legacy integration where the API created the users in Iterable for the client on signup.

## Expected

- Using client sdk w/ valid mobile token, call `Iterable.setUserId` or `Iterabl

[2021-04-10 00:01] roninopf commented on #125
Thanks for writing in @jehartzog! Your detailed reports are much appreciated for sure.

I'm not sure how clear it is in the documentation (literally, I haven't searched for this specific info in there, before), but `setUserId` and `setEmail` ARE NOT supposed to create a new user; they aren't API calls like `track` or `registerDeviceToken`, which are API calls and do create profiles for new users.

[2021-04-12 16:39] jehartzog commented on #125
@roninopf Thanks for the quick response.

This report was shorter than most as it's not really a bug, nor is it blocking us. We plan to use the more powerful API integration for our core customer logic, to link pre-signup/post-signup users, etc.

I was moving forward on adding this lib primarily for push integration, and wanted to test out pushes before we had finished our API work, and found that

[2021-04-15 18:43] jehartzog opened #129 "XCode 12 Archive Fails"
![image](https://user-images.githubusercontent.com/14143246/114920442-ab7bfa80-9de6-11eb-872e-68e6c63fc78a.png)

Related issues #86 #119.

Since this is blocking us, we're going to open a CSM ticket in parallel to reporting here.

## Reproduction

1. With fresh app, follow Iterable docs to setup library

### Expected

1. Dev builds work, archive works

### Actual

1. Dev build works, archive fails

[2021-04-15 19:43] jehartzog commented on #129
At Michael's (CSM) request, here is our [AppDelegate.m](https://gist.github.com/jehartzog/e363c7f55c2f4fe82bb7f757237ae549).

[2021-04-19 15:32] harrydema commented on #103
I've been able to make it work but they are not working when the app is closed and opened by a deep link

[2021-04-19 15:55] harrydema opened #130 "Deep links are not working when app is closed"
Hello!

I configured the deep links as explained on the docs and the deep links are working fine when the app is opened, in background, and you tap over a deep link.

But when the app is closed, the urlHandler is not fired, so the links are not opened.

I've only tested in IOS so far.

This is my AppDelegate.me:

[code]

This is my configuration on the JS side. It is executed on the App.js:

[code

[2021-04-26 16:38] jehartzog commented on #129
We finally figured this out. There were two issues going on:

1. The original error posted here was due to my error, you can see in the listed `AppDelegate.m` that I had inadvertently nested [`@import IterableSDK;`](https://gist.github.com/jehartzog/e363c7f55c2f4fe82bb7f757237ae549#file-appdelegate-m-L12-L22) inside the flipper `#ifdef` statement. This was quickly identified by Iterable CSM for co

[2021-04-26 16:38] #129 closed

[2021-05-04 04:39] vbabenkoru commented on #80
@shzhng @jehartzog Are you still experiencing this with the latest RN SDK versions?

[2021-05-04 15:51] jehartzog commented on #80
@vbabenkoru Our workaround for Android has been stable in our production app. We have on the roadmap to upgrade to latest version of this SDK and will re-validate, but that is weeks/months away. I'll be sure to swing back if I see the issue reoccurring. Thanks again for the response and fix, we will use it soon enough.

[2021-05-04 22:45] vbabenkoru commented on #80
@jehartzog What is the workaround?

[2021-05-04 22:59] jehartzog commented on #80
See the bottom section of original post, I linked to a [draft version](https://gist.github.com/jehartzog/9490e310a07d74a546c680a27c4a339a) of how we hacked our way around this limitation.

[2021-05-06 17:49] kaushal9250 opened #133 "SampleApp unable to run because of SDK issue"
While running the app on a real device getting the following error in the file `ReactIterableAPI.swift`

**Iterable** `initialize` method giving error  **Extra arguments at position #5, #6 in a call** . For your reference, I enclosed a screenshot link while running the app and the error code. [error screenshot](https://imgur.com/Ah36xPX)

`
     DispatchQueue.main.async {
            IterableAPI.i

[2021-05-07 22:57] oduonye1992 opened #135 "How to handle Push Notification Custom MetaData"
Hello

When I create a Push campaign, I want to send a JSON Payload and handle it on the app. How do I retrieve the JSON payload on the JS part of the app?

Note I have already set up In-App Message deep links, Push Notification URL deep links and Push Notification with Custom actions and they all work.

@iterable/react-native-sdk - 1.0.21
react-native - 0.64.0

<img width="1133" alt="Screenshot 2

[2021-05-07 23:42] jcurlier commented on #135
+1

[2021-05-13 07:14] TuanDuongNguyen commented on #86
it's not working for me

[2021-05-20 17:17] sejoDjoseon opened #137 "ld: symbol(s) not found for architecture arm64 - IOS"
Hello!

When I'm trying to create an IOS release build this error happens on linking.

[code]

package: "@iterable/react-native-sdk": "^1.0.28"
RN version: 63.4
Xcode version: 12.4

[2021-05-21 15:21] #137 closed

[2021-05-27 17:26] jehartzog commented on #130
We are seeing this with

[code]

I also tried version `1.0.28`, on both iOS and Android. Never got a url to open after push from a terminated app. Worked for both backgrounded and foregrounded.

We also tested on  `1.1.0-beta2`. The IOS build failed, Android built but the same issue occured.

[2021-05-27 17:30] jehartzog commented on #80
@vbabenkoru We finally reached the point where we're doing testing w/ the latest lib on our new app.

Unfortunately, the issue still occurs, and we're actually seeing it happen on [iOS now too](https://github.com/Iterable/react-native-sdk/issues/130#issuecomment-849809178).

I tested 3x versions of the lib on both OS's and saw the same behavior in all cases: deep links from pushes work when the ap

[2021-05-27 17:48] jehartzog commented on #130
I should mentioned our `urlHandler` was designed to just let the OS handle our custom schema links, like this:
[code]

[2021-05-29 15:44] jehartzog commented on #130
TL/DR: We found and fixed the issue, it was particular to our project setup. Iterable push deep links are working correctly on `@iterable/react-native-sdk: "1.0.28"` with both OS's in all conditions (terminated, backgrounded, foregrounded).

I'm not completely sure if this is something that should be tweaked for this SDK, or given a note in the docs, or even belongs as an issue here at all. I just

[2021-05-29 15:45] jehartzog commented on #130
@harrydema Short version of above post.
1. For testing, throw a 5 second `setTimeout` around your `Iterable.initialize(Config.ITERABLE_API_KEY, config);`.
2. If that fixes the deep link issue for you, then you have the same issue that we had. You need to make sure your `RootNavigator` is mounted before calling `Iterable.initialize`. Remove the `setTimeout` and refactor to make it work.

[2021-05-29 15:47] jehartzog commented on #80
Update to my above post, the failure to link from a terminated state was caused by [specific project structure](https://github.com/Iterable/react-native-sdk/issues/130#issuecomment-850853765).

[2021-05-31 16:31] Zestpond commented on #86
Thanks, worked for me

[2021-06-01 10:41] 1280103995 opened #139 "Initialize failed"
<img width="984" alt="5759-cdc0-4121-9099-a128c8394a2f" src="https://user-images.githubusercontent.com/17424486/120310140-a298a700-c308-11eb-929c-0baba0bff523.png">

<img width="1012" alt="d0aa44be-3825-492e-af43-f27c95dc24a1" src="https://user-images.githubusercontent.com/17424486/120308908-35384680-c307-11eb-9a70-3afd09a1eee9.png">

When I tested whether the key is valid, I got an error message.

[2021-06-04 04:11] kaushal9250 opened #140 "Change initialization of Iterable in ReactIterableAPI.swift to fix error Extra arguments at positions #5, #6 in calll"
Please change the **Iterable initialization code** in `**ReactIterableAPI.swift**` because the function you are calling doesn't have a defined method in your sdk. And because of that we got error `**Extra arguments at positions #5, #6 in cal**`
To resolve this error
 [Error](https://imgur.com/q8Bd9Dt) [screenshot](https://imgur.com/q8Bd9Dt)

    IterableAPI.initialize2(apiKey: apiKey,

[2021-06-07 01:41] 1280103995 commented on #139
I changed to the mobile api and re-registered the api key, but it didn’t work.

I think there's something wrong with api key.

[2021-06-07 05:44] 1280103995 commented on #139
After calling the ```Iterable.initialize``` method to return undefined, the ```setEmail``` method is called with a delay of 10 seconds, and the mailbox can be searched in ```Audience> Contact Lookup```.

I sent push notifications through firebase in the Iterable mobile application page, or created a new event (maybe my steps were wrong) to send notifications, but I didn't receive it.

[2021-06-07 09:20] 1280103995 commented on #139
Although the SDK initialize return ```undefined```, but ```setEmail``` worked.

Now push notification works well on IOS, but it doesn't work on Android.

[2021-06-07 09:20] #139 closed

[2021-06-09 01:49] 1280103995 opened #141 "How to configure the Android side? Help me, please"
Now it works well on iOS, but it doesn't work at all on Android.

I have completed it according to the configuration document on the Android side:
1、add ```classpath 'com.google.gms:google-services:4.3.3'```
2、add ```apply plugin: 'com.google.gms.google-services'```
3、add ```implementation "com.google.firebase:firebase-messaging:20.2.3"```
4、add ```google-services.json``` file in app module.
5、Cre

[2021-06-09 03:05] chuuuan opened #142 "Iterable push notification can't work"
I'm following the setup with the "I[nstalling Iterable's React Native SDK](https://support.iterable.com/hc/en-us/articles/360045714132-Installing-Iterable-s-React-Native-SDK-#_7-test-your-mobile-apps-with-iterable)" step and I'm testing with android devices.
But I can't receive any push notification through the Iterable campaign and test push.
Also, by using the "[getLastPushPayload](https://suppo

[2021-06-09 03:08] chuan520 commented on #141
Hey, I also encounter the same problem with you.
I think your setup for android is correct.
Windering there push function is broken.

This is my issue link:
https://github.com/Iterable/react-native-sdk/issues/142#issue-915725523

[2021-06-09 06:39] 1280103995 commented on #141
This library conflicts with ```react-native-push-notification```, remove these codes in```AndroidManifest.xml```
[code]

[2021-06-09 06:39] #141 closed

[2021-06-09 07:13] chuan520 commented on #141
Hi,
Is the Iterable react-native SDK's push notification work on your side?
cause I still can't get this work, would you mind giving me some examples about the push notification?

Also, I've checked that I don't have the code you mention in my AndroidManifest.xml.

[2021-06-09 08:47] 1280103995 commented on #141
Yes, remote push works, but in-app messages do not. Maybe you should copy some of the Iterable SDK configuration to the newly created project and try it.

[2021-06-10 23:46] tonuegbu commented on #142
having the same problem.

[2021-06-11 03:40] 1280103995 commented on #129
Hi jehartzog,
The troubleshooting steps are complete, but it not work for me.

I added ```"$(TOOLCHAIN_DIR)/usr/lib/swift-5.0/$(PLATFORM_NAME)"``` and ```"$(inherited)"``` to ```Library Search Paths```, but it didn’t work. (It’s worth noting that it was originally empty here)

[2021-06-11 06:54] jehartzog commented on #129
@1280103995 I don't have much for you. After removing the `$(TOOLCHAIN_DIR)/usr/lib/swift-5.0/$(PLATFORM_NAME)` entry, we actually had to add it back when we added the iterable message extension to enable rich iOS pushes. Already spent way too much time trying to configure `swift-5.0` vs not, and still not sure exactly where we ended up.

[2021-06-11 06:59] 1280103995 commented on #129
I read the first point carefully and after adjusting the import position, it worked. Cheers!

[2021-06-15 03:58] chuan520 commented on #142
Hello, @tonuegbu !
Thanks for your comment.

I have some test below for Iterable react-native SDK:
1. The old one I created with the same react-native versions (0.62.2): none of the push work
2. Create a new project with RN version 0.62.2: front and back push works
3. Create a new project with the latest version of RN: the setEmail function doesn't work; no device token has been created. But the e

[2021-06-18 17:04] cparki3 commented on #142
We had similar issues recently with Android because of the SDK using FirebaseInstanceId which is now deprecated (https://firebase.google.com/docs/reference/android/com/google/firebase/iid/FirebaseInstanceId).

We had to add firebase-iid as a dependency to get Android working again. Thread with the solution we used can be found here: https://github.com/mixpanel/mixpanel-android/issues/744

Hope it

[2021-06-22 08:05] 1280103995 commented on #141
Hey, it decided not to work today.

[2021-06-22 08:41] 1280103995 commented on #142
You may need to remove all ```@react-native-firebase/messaging``` content to make it work.

[2021-06-23 21:56] roninopf commented on #140
Hi @kaushal9250 ! Thanks for writing this in, and apologies for the delay in responding.

I believe this was caused by our packaging being out of sync with the tests; I'm not seeing this anymore, and I've also fixed another error the integration testing had in [this PR](https://github.com/Iterable/react-native-sdk/pull/145).

I'll be closing this ticket, but please feel free to submit a ticket or

[2021-06-23 21:56] #140 closed

[2021-06-23 22:32] #133 closed

[2021-07-08 15:40] dwrz commented on #125
We've run into this issue today.

https://support.iterable.com/hc/en-us/articles/360045714132-Installing-Iterable-s-React-Native-SDK-

States the following:

[code]

We are seeing the console log from `setEmail`, but the contact lookup is unable to find a user with the email address we are using.

Is the expectation that some other call is made to create a user? If so, which one?

[2021-07-19 18:04] alex-a-pereira opened #147 "[Android] opening app via push notifications after hard-quit un-registers device"
We're seeing an issue where opening our app via a push notification after user hard-quits (cancels) the app causes subsequent push notifications to not be received by the device. If the app was previously running (i.e. the user **didn't** hard quit the app), push notifications are received and can open the app just fine.

In our app, we use react-native-splash-screens. What's more relevant is that

[2021-07-19 21:37] alex-a-pereira commented on #147
looking further into this... it looks like potentially the issue is with auto push registration?? When I follow these steps this is what happens:
- hard-quit the app
- send push notification from iterable web UI
- open push notification (splash screen shows)
    - *** can't send another push notification here
- soft-close the app (press home button)
- re-open the app
    - *** logs show up TAG="It

[2021-07-19 21:52] Ayyanchira commented on #147
Hi @alex-a-pereira ,
Thanks for writing in. disableDevice and registerDeviceToken are performed when the user is already logged in and a new email or userId is set. OR if it is set to null.
When is the email being set? Does it appear that you are setting email or userId to null or new value during app launch?
Also, which RN SDK version are you using?

[2021-07-19 22:03] alex-a-pereira commented on #147
@Ayyanchira thanks for the quick reply!

It looks like my issue was that I was calling `setEmail` AND `setUserId` from my code - hence why I was getting 4 requests. 2 are expected (first user.email is null, then it is an actual email address). Since I've removed the `setUserId()` and am now only calling `setEmail()`, things are working as expected!

So if I'm correct it appears that forcing the au

[2021-07-19 22:04] #147 closed

[2021-08-04 23:31] keeslinp opened #167 "Android version of initializeWithApiKey isn't actually async"
The type for the [initialize function](https://github.com/Iterable/react-native-sdk/blob/master/ts/Iterable.ts#L205) in typescript:
[code]
is only accurate on iOS. On android there it is not resolving a promise so when we try to use the supposed promise returned from the function our app crashes. It works just fine on iOS though.

Android code function that is missing a promise:
https://github.com

[2021-08-11 07:23] trungls1706 commented on #141
i have same problem
cannot push noti test in android

[2021-08-12 07:20] trungls1706 commented on #125
Hi all
I have same issue
I seeing the console log from setEmail, but user profile not found in Iterable

"@iterable/react-native-sdk": "^1.1.1",
"react-native": "^0.64.1",

[2021-08-16 20:57] #167 closed

[2021-09-02 22:53] keeslinp opened #198 "Android crashes on trackEvent without dataFields"
`Iterable.trackEvent` does not require `dataFields` in the [typescript code](https://github.com/Iterable/react-native-sdk/blob/master/ts/Iterable.ts#L376). The [android SDK marks it as @Nullable](https://github.com/Iterable/iterable-android-sdk/blob/master/iterableapi/src/main/java/com/iterable/iterableapi/IterableApi.java#L490) as well, but the [serialization code](https://github.com/Iterable/rea

[2021-09-03 20:24] keeslinp opened #199 "Setting both `setEmail` and `setUserId` leads to a temp email being created"
I have this as part of our iterable initialization:
[code]

When I have the `setUserId` in there and look in the logs the events are mapped to a temporary email address, but if I remove that call it associates it with the email correctly. I'm not sure if this is a race condition or something. There is no feedback with `setEmail` so I can't know when it is done an "safe" to continue. Perhaps if tha

[2021-09-08 14:39] yarikpwnzer commented on #125
We want to use Iterable SDK only for in-App-messages + Push Notifications. I spent all day with profile creation issue, because from documentation it says:
7.2 Run the app until it calls setEmail, which creates an Iterable user profile.
And actually it doesn't work. Now from comment I see that I need to make event for creating user profile.
Issue was open from April 8 and still its opened + docume

[2021-09-08 14:42] migue1s commented on #125
It worked for me when I did:

[code]

[2021-09-08 15:19] davidtruong commented on #199
SetUserId does not set the userId field on the existing user profile. It actually changes the signed in user to the given userId. So since there isn't already an email associated with the userId, it will generates a new email for it.

I'm assuming you want to use the first email, then associate the userId via an user/update call. Please reach out to your CSM if you have further questions about thi

[2021-09-08 15:19] #199 closed

[2021-09-08 15:29] keeslinp commented on #199
Thanks for the clarification 👍

[2021-09-22 22:19] #198 closed

[2021-10-04 15:35] ken-brown commented on #121
Closed due to no response from user.

[2021-10-04 15:35] #121 closed

[2021-10-06 18:46] alburdette619 opened #235 "urlHandler not called when iOS app is in the background"
The `urlHandler` is not being called in my setup when an iOS app is open but backgrounded.  It works fine if the app is closed and in app messaging also works if the app is foregrounded.  I have confirmed that the native event, `handleUrlCalled` is not being sent by logging inside the handler in `Iterable.js`.

My `AppDelegate` for iterable looks like the following:
[code]

Output logs from settin

[2021-10-19 19:39] Mturner005 commented on #235
@alburdette619 Thank you for bringing this to our attention.  Do you have to call **setupNotifications** anywhere in your code?

[2021-10-29 03:23] 1280103995 opened #251 "V1.1.3 bugs"
Today, I tried the new version to see if some of the previous bugs have been completely fixed, and then I encountered some problems.

~~On iOS, the build failed, this is the log:
<img width="323" alt="2021-10-29  11 06 53" src="https://user-images.githubusercontent.com/17424486/139367134-6896c5b7-8ff3-45a4-930a-00df978a8cf2.png">~~
The solution is to use the old version of Iterable-iOS-AppExtensio

[2021-11-01 06:12] 1280103995 commented on #251
I went back to the ```1.1.0``` version (this is the version my app is using, and it is already in production), but found that the ```in-app messages``` are also not being received.

The physical devices are: ```Samsung Galaxy A51 (Android 11)```, ```iPhone Xr (iOS 15.0.2, the same problem on iOS14)```.
<img width="483" alt="062d4257-78d9-48b7-832f-74266fa1f289" src="https://user-images.githubuserc

[2021-11-01 09:10] 1280103995 commented on #251
I retested version 1.1.3 and updated the problem description.

[2021-11-03 21:57] roninopf commented on #235
Hi @alburdette619, we'll close this for inactivity, but please feel free to open/re-open if there's still an issue. Thanks!

[2021-11-03 21:57] #235 closed

[2021-11-11 16:27] grifotv commented on #71
@jehartzog thanks for sharing this.

I was wondering what was your final approach after all? Did you keep `@iterable/react-native-sdk` as well as `react-native-push-notification` and `@react-native-community/push-notification-ios`?

Also curious to know if you checked the in-app API such as [inAppHandler](https://support.iterable.com/hc/en-us/articles/360045714172-In-App-Messages-with-Iterable-s-R

[2021-11-11 16:55] jehartzog commented on #71
@grifotv We simply went through all (hundreds) of our templates to remove the custom push payloads and place that data as query parameters in the `openURL` action. A bit of work to transition, but dramatically safer for the long run. It worked great, no complaints.

We used the IAM features of the Iterable SDK extensively. The biggest surprise we hit was https://github.com/Iterable/react-native-sd

[2021-11-12 00:36] grifotv commented on #71
@jehartzog thanks for the quick response. Regarding your push notification callback workaround, could you please explain where you added this? Would it be the `config.urlHandler` ? Wondering if you managed to get any other info in addition to the `url` (eg: push notification title and message).

[2021-11-12 15:03] jehartzog commented on #71
@grifotv Yes, we used `urlHandler` and only captured data via the url passed in. We didn't get any additional data from the push itself.

[2021-11-17 13:53] grifotv commented on #251
I'm able to install version `1.1.3` but have this error when trying to install the pods:

[code]

I can see that the [Iterable-iOS-SDK v6.3.4](https://github.com/Iterable/swift-sdk/releases/tag/6.3.4) was released and is correctly [defined as a dependency](https://github.com/Iterable/react-native-sdk/blob/master/Iterable-React-Native-SDK.podspec#L27). When looking for it in the CocoaPods website,

[2021-11-17 14:00] grifotv commented on #251
I managed to install the pods now by running `pod install --repo-update` as [described in the docs](https://support.iterable.com/hc/en-us/articles/360045714132#_2-install-other-dependencies).

[2021-11-22 14:58] klokie opened #274 "extra argument 'icon' in call"
Hi, I'm getting the following error when trying to build using

  - Iterable-iOS-AppExtensions (6.3.4)
  - Iterable-iOS-SDK (6.3.4)

[code]

i'm not sure how to debug this error (related to some notification icons). Any help would be most appreciated!

[2021-11-23 02:35] lucaswhitman commented on #274
I'm seeing the same issues running the build on our CI/CD tools. Seems to work locally, but not in CircleCI.

[2021-11-23 22:54] roninopf commented on #274
Hi @klokie, thanks for writing in. This looks pretty unusual for sure. I think this is because this `xcodebuild` is using an old Xcode version (`12.5.1` according to your log), whereas the new notification icon stuff mentioned in the logs here are in our latest iOS SDK (`6.3.4`) to support the new Xcode version and iOS frameworks, so it's freaking out at unknown API calls.

[2021-11-23 22:55] roninopf commented on #274
Related to this, maybe the Xcode version on the CircleCI server needs to be updated. If you're able to compare the versions locally and on the CircleCI server, that's a strong indicator that that's the fix.

[2021-11-24 12:56] klokie commented on #274
Using a more recent version of XCode (when building on Bitrise, our CI/CD tool of choice) seems to have fixed it. Thanks @roninopf !

[2021-11-24 12:56] #274 closed

[2021-11-26 03:23] 1280103995 commented on #251
<img width="464" alt="1 20 56" src="https://user-images.githubusercontent.com/17424486/143521841-525ac639-3b92-4974-96f8-c5619907a5b9.png">

Hi, @grifotv, i tried again, but the same error still occurs.

[2022-02-10 23:57] nicolas6422 commented on #125
@yarikpwnzer I'm running into this issue as well. Can you explain what you mean

The solution is to make an event?

[2022-02-11 00:21] yarikpwnzer commented on #125
I was referred to @roninopf comment

[2022-02-11 04:09] vbabenkoru commented on #125
A user is created when a push token is registered. By default, automatic push registration is enabled, and that creates the user. If automatic push registration is disabled, you need to add a call to registerForPush() or updateUser for the user profile to be created.

[2022-02-11 17:45] nicolas6422 commented on #125
@vbabenkoru good to know. So assuming that happens automatically and I initialize the sdk and call `Iterable.setEmail(...)`, I should be able to search that user email at https://app.iterable.com/users/lookup

Once I set the user email I can call `Iterable.getEmail()` and that does return the correct email address, however, when I try to search them online I always get an error "User does not exis

[2022-02-11 23:34] quocdoancerebral opened #293 "No way to add user to new emailList without unsubscribing them from existing subscription list"
The override is unsubscribing users from existing subscriptions and there's no way for us to grab an user's existing subscriptions to prevent them from being unsubscribed.

We need a way to add a user to a subscription without removing them from existing subscriptions. The current updateSubscriptions method does not allow that.

[2022-02-15 17:46] blarzHernandez commented on #130
We had a similar issue like @jehartzog so this was what solved our issue
1. Upgraded to the RN Iterable SDK newest version 1.1.3
2. Ensure our React Native Root Navigator was mounted before the SDK initialization. As @jehartzog suggested above.
3. Ensure to have ONLY one RN Iterable SDK instance initialized. (We had an extra call to the SDK, this was the root cause once we have ensured the Root Na

[2022-02-28 19:42] hytea opened #300 "Android crashes related to bug that was fixed in newer versions of the Iterable Android SDK"
[This issue](https://github.com/Iterable/iterable-android-sdk/issues/423)  was addressed in one of the latest Iterable Android SDK releases. Could we get those changes updated in the React Native SDK?

[2022-02-28 23:14] param-finder commented on #125
I'm facing the same issue. I've followed the steps, I'm getting the logging of successful userId being set. Yet, when I try to lookup the userId, it shows 0 results on dashboard. What's wrong with this SDK!
Same luck with setEmailId too.
@tapashmajumder @roninopf

<img width="549" alt="Screenshot 2022-02-28 at 23 07 27" src="https://user-images.githubusercontent.com/92723723/156074113-4fff7adc-b40

[2022-02-28 23:18] nicolas6422 commented on #125
@param-finder I solved this by setting `autoPushRegistration` to false on iOS and then manually registering the token. We are also using [RNNotification](https://wix.github.io/react-native-notifications/docs/getting-started/) and my best guess is that these two libraries do not get along. Either that or Iterable's SDK is just buggy 🤷

[2022-02-28 23:24] param-finder commented on #125
@nicolas6422 Just tried that too via `[IterableAPI registerToken:deviceToken];` in AppDelegate.m but no luck. It's not working on Android too.

[2022-03-10 22:28] bradherman opened #306 "Handling push notifications when app is in the foreground?"
Is there a way to handle a push notification that is sent to a user when the app is in the foreground?

[2022-03-14 18:09] #300 closed

[2022-03-15 18:48] hytea opened #307 "iOS Deployment Target needs updating"
I am getting an error when trying to build my app for iOS on the latest react native SDK version the React Native SDK has an iOS deployment target of 9.0 but the Iterable iOS SDK has an iOS deployment target of 10.0.

If I update the deployment target manually it works but it gets reset anytime I deepclean the project.

[2022-03-17 15:44] ivansnek commented on #307
Having the same issue here! 🤚🏽

@hytea how did you manually change this? does it work for release?

[2022-03-23 06:19] #251 closed

[2022-03-24 21:57] roninopf commented on #307
Hi! Sorry we missed this, it's since been fixed in version 1.2.1. If there's a new issue with that, please feel free to open a new ticket!

[2022-03-24 21:57] #307 closed

[2022-03-25 17:54] averyv opened #318 "Inconsistent firing of `trackInAppOpen` and `trackInAppClick`"
We manually track in app message opens and clicks with `trackInAppOpen` and `trackInAppClick`.  We're seeing that these events aren't firing consistently, and there are instances where we can see that an in app was shown to a user (by looking at other events that we track) without `trackInAppOpen` ever being fired.  There are some instances where `trackInAppClick` gets fired without a `trackInAppO

[2022-04-28 13:58] alex-a-pereira opened #341 "[info request] How to configure openUrl push notification to deep-link on iOS"
Hi, I'm running into issues while trying to configure the Iterable react-native SDK to open push notifications that handle "Open URL" action to a specific screen using universal links. It works as expected on Android - i'm only having this problem with iOS.

We use the `react-navigation` library to handle universal links, which works perfectly find for other links (e.g. a webpage has the link in a

[2022-04-28 14:19] alex-a-pereira commented on #341
I should also note that `urlHandler` was set to undefined (omitted from IterableConfig object), so the SDK should not be calling `Linking.openUrl` before navigation is ready as described in this issue https://github.com/Iterable/react-native-sdk/issues/130#issuecomment-850853765

[2022-04-28 15:28] willcaul opened #342 "Inconsistent getLastPushPayload behavior across iOS & Android"
The [`getLastPushPayload()`](https://github.com/Iterable/react-native-sdk/blob/93bf1d42ce01fcd4c872342db3c371c2c8df7ead/ts/Iterable.ts#L283-L286) function's behavior is not consistent across platforms.

On Android, `getLastPushPayload()` only returns data corresponding to the current app session because it [stores data in memory](https://github.com/Iterable/iterable-android-sdk/blob/4c92a3c0980001

[2022-04-28 18:44] alex-a-pereira commented on #341
A bit more info - I hooked up the react-navigation devtools (for v5 it just logs to the RN debugger) and it doesn't appear that react-navigation is receiving anything (no state changes are logged to devtools)

[2022-04-28 20:32] alex-a-pereira commented on #341
In case it's helpful - my AppDelegate.m
[code]

[2022-05-02 19:23] jmejiamu opened #346 "In app Message and Push Notification"
I am not receiving in-app message on Android and iOS. There is not custom configuration. All has been handled by default Iterable React Native SDK in-app message behavior.

* iOS - On Iterable, the devices array is not present in user profile  when registering a new user.
* iOS -  Does not receive Push Notification nor in-app Message

* Android -  On Iterable, the devices array is present in user

[2022-05-03 13:57] alex-a-pereira commented on #346
Are you on iOS simulator? IIRC this behavior is consistent with my experience on iOS simulator.
Iterable can't capture the device token (iOS simulator doesn't have one) so it never gets sent up to iterable (thus it never shows up in devices array)

[2022-05-03 15:55] jmejiamu commented on #346
Yes, I tested it on a simulator. That's why I do not see it in the Iterable user's profile. Thanks that make sense.

[2022-05-05 05:37] marcmoo opened #353 "console.log could cause performance issues, please help to add if(Iterable.savedConfig.logLevel === 1) to stop consoles"
Hi Iterable Support, could you help to add Iterable.savedConfig.logLevel === 1 to stop console?
[code]
or could you allow us to fork this library?
Very apprecaited!

[2022-05-12 22:10] diego-paired opened #356 "Issue after upgrading to 1.3.1"
Immediately after upgrading from 1.3.0 to 1.3.1, the following error prevents the app from booting:
[code]

[code]

[2022-05-13 12:48] alex-a-pereira commented on #356
I just upgraded to 1.3.1 last night and I might be hitting the same problem? we're using TS and the compiler is yelling at me - when I look at the type declarations, Iterable/IterableConfig are not exported. It also appears that those classes are not exported in index.ts in the source code https://github.com/Iterable/react-native-sdk/blob/master/ts/index.ts

![image](https://user-images.githubuser

[2022-05-13 16:49] alex-a-pereira commented on #341
Update:

Part of the problem was that I was trying to use the universal link URL in notifications instead of just using deep links - the iterable sdk calls `Linking.openUrl` when urlHandler returns false. This is a known issue for react-native, and using the regular deep link URL is fine for our purposes. https://github.com/facebook/react-native/issues/27486

This doesn't completely solve the issu

[2022-05-14 21:50] TexxUkr opened #358 "In App Message does not appear on Android"
I created a test inappmessage and sent to user on Android device.
The message reached the device but message content was not shown on screen.
I see that screen color changed a bit and it looks like SDK tried to show the message but its content was not shown due to some issues. I checked with several Android devices under Android 7, 9, 11 and the result always the same.
Looks like Android is unable

[2022-05-16 09:00] #358 closed

[2022-05-23 14:27] NuroDev opened #361 "Add IterableConfig constructor object"
Just getting started with the SDK & I feel like it would a nice DX improvement to offer a class constructor to the `IterableConfig`, or possibly other classes too, to make it easier & cleaner to instantiate a new config instance.

## Example
[code]

[2022-05-23 22:00] diegorochawebdg opened #362 "Use of undeclared identifier 'IterableAPI' when using Expo 45 and React 0.68.2"
After updating my app to use Expo 45/React 0.68.2, I have a lot of warnings from my Iterable imports and usage:

![image](https://user-images.githubusercontent.com/6142884/169912179-e256507a-16c3-4e30-baa0-feebc7ac97d6.png)

![image](https://user-images.githubusercontent.com/6142884/169912109-dbbb7ba5-a46c-4ecb-9df1-38e2413e8710.png)

There are no information o docs about another way to import the

[2022-05-30 03:53] huyhai commented on #356
same here

[2022-05-30 03:56] alex-a-pereira commented on #356
@huyhai my PR has been merged to master so you can update your package.json so use the git URL and it will have the fix applied. https://stackoverflow.com/questions/16350673/depend-on-a-branch-or-tag-using-a-git-url-in-a-package-json

I'm not 100% sure that my PR addresses every issue with the SDK though

[2022-06-09 17:09] danwbyrne opened #369 "Flex - JWT Error Handling"
# Summary
In our mobile integration of Iterable with the Flex onboarding app we are running into a problem where JWT auth is not present at the right times for calling `updateEmail(...)` and `updateUser(...)`

This problem is inconsistent and will sometimes work as expected, but happens enough that it is a blocker for us.

A typical order of operations for us is:
1) a user gives us a verified phon

[2022-06-10 20:50] roninopf commented on #356
@diego-paired Sorry for the delay in addressing this, we believe this is fixed in 1.3.2 thanks to @alex-a-pereira's PR.

If you run into a problem after that, please feel free to contact your CSM or to open another issue.

[2022-06-10 20:50] #356 closed

[2022-06-12 08:38] beetlebum opened #370 "Issue when upgrading to 1.3.2: Cannot read property 'info' of undefined at IterableConfig"
Upgrading from 1.3.0 to 1.3.2, the following error appears:

[code]

I believe it has to do with this line:
` logLevel: IterableLogLevel = IterableLogLevel.info` perhaps a circular dependency makes the import undefined.

Downgrading back to 1.3.0 makes it go away.

[code]

[2022-06-15 00:57] shamilovtim commented on #362
Related: https://github.com/Iterable/swift-sdk/issues/563. Could you please provide headers ASAP?

[2022-06-15 00:59] shamilovtim commented on #362
[roninopf](https://github.com/roninopf) sorry for the ping but his has stopped us in our tracks and blocked several important features in our app. do you have an ETA for providing objective-c headers for us?

[2022-06-15 23:00] roninopf commented on #361
Hi @NuroDev , thanks for writing in about your experience. I'll be honest, I don't see us implementing this specific suggestion, I don't think it warrants enough of a change, however, I'm very curious to know what other suggestions (or just problems you run into) you have. Please do, and feel free, to open a ticket with your CSM, it will definitely get to us. I also have my own list of things I'd

[2022-06-15 23:00] #361 closed

[2022-06-15 23:04] roninopf commented on #353
Hi @marcmoo, @alex-a-pereira, sorry for the late response, does version 1.3.2 solve this for you? You can set `logReactNativeSdkCalls` to `false` to turn off our internal `console.log` prints. I wanted to get a workable solution in (to avoid the solution hassles that @alex-a-pereira has mentioned), but I'm aware this is very basic.

I'll be closing this issue for now, but please let us know throug

[2022-06-15 23:04] #353 closed

[2022-06-15 23:06] roninopf commented on #362
@shamilovtim It's no worry, next time, you can get our attention faster with a ticket with your CSM!

I'll be immediately switching focus to fix this, I appreciate pointing out what exactly is missing here, it's already a good help to fixing this.

[2022-06-17 18:39] roninopf commented on #370
Hi @beetlebum , can you message your CSM so we have a private channel to discuss this? I'd like to know what repro steps you have other than downgrading, as I've created a new project only adjusting the log level and haven't run into the same error.

Is this also on the Android RN side? Right now the iOS RN side has an issue with 0.68 which I'm working on.

[2022-06-23 22:31] roninopf commented on #362
@diegorochawebdg @shamilovtim Have you tried running with the recently released RN 0.69? I've tested on brand new RN projects with our SDK added, and it's working fine on 0.69 now, while the issue on 0.68 is still present. Would upgrading the base RN version be a good solution to this particular issue?

[2022-06-24 00:36] shamilovtim commented on #362
I don't think it's a React Native 0.68 vs 0.69 thing? My understanding is that Objective-C modules are simply incompatible with C++. The issue should still be present on 0.69 if your AppDelegate is a C++ file called AppDelegate.m.

[2022-06-27 14:13] marcoslhc commented on #370
This is happening ios too. I'm doing my first implementation and I'm stuck with this.
Repro step, just call

[code]

[2022-06-27 21:44] roninopf commented on #362
If that was true, shouldn't have this been a problem since the very start? I just tested again on separate RN projects, and 0.69 is running fine, while I also still have the repro on 0.68. I haven't been able to look at what details changed between the RN versions, but it seems that there is a viable fix for this currently, that's all I'm suggesting.

[2022-06-28 21:39] roninopf commented on #362
Yep, newly created projects on both 0.68 and 0.69 make AppDelegate.mm files.

[2022-06-30 14:54] sregg commented on #362
I'm seeing the same problem after upgrading from 0.67 to 0.69.
@shamilovtim did you find any workaround or do we have to wait for Iterable to expose the header files?

[2022-07-05 13:43] bobbravo2 commented on #362
@roninopf wanted to see if we had an update / suggested workaround -- our team is leveraging this SDK -- and this is blocking an upgrade for us. Thanks in advance for any help / workarounds / things we might help test!

[2022-07-07 21:27] vbabenkoru commented on #362
Have you tried enabling modules in the Xcode project? See example [here](https://stackoverflow.com/a/42059034).

[2022-07-07 22:30] shamilovtim commented on #362
Yeah, that doesn't work. The incompatibility is a hard blocker, there is no choice but to provide the headers outside of a module.

[2022-07-08 03:48] vladiRozen opened #371 "Messages overlay on IOS devices"
Hi,
I am running iterable sdk on react native 0.63.4, and for some ios devices and not constantly I get an "overlay" of a text sourced from getMessages request. At that point in time, I don't initiate the request for getMessages. This request is only called at a later stage when my app is fully loaded.
For example, this might happen while the splash screen is still on and the app isn't fully loade

[2022-07-21 10:48] 1280103995 opened #379 "Cannot read property 'log' of undefined, js engine: hermes"
When calling `Iterable.inAppManager.showMessage(message, false);`

<img src="https://user-images.githubusercontent.com/17424486/180195802-61cae9f6-4ad4-4587-a32e-6e57e033aef7.jpg" width="40%" height="30%"/>

SDK:   1.3.3
RN:    0.67.4

[2022-07-22 01:47] 1280103995 commented on #379
It may be a cache problem, I re-checked the usage steps, it is normal now

[2022-07-22 01:47] #379 closed

[2022-07-25 21:30] vbabenkoru commented on #362
@shamilovtim This fixes the issue in my test project. Are you sure you've added it to `Other C++ Flags` for your app target?
<img width="646" alt="image" src="https://user-images.githubusercontent.com/37556649/180877341-7662aa54-9503-4bb2-9a35-871d29373802.png">

[2022-07-25 21:49] shamilovtim commented on #362
Yeah I've added that flag before. It causes compile incompatibilities with other unrelated packages. We don't use that flag in RN projects for that reason.

[2022-08-05 14:10] huynhtastic commented on #362
Any update with this? This blocks our upgrade to any newer react-native versions, and we'd really like to be able to do so.

[2022-08-09 18:00] davidtruong commented on #369
@danwbyrne: We are looking at adding a new delegate to the AuthHandler to include a failure callback so the application can attempt a new fetch of the JWT. Let me know if you have any further thoughts or suggestions.

[2022-08-10 12:27] spylefkaditis commented on #362
Is there any version of iterable that works with 68.2?

[2022-08-11 17:22] BrianCortes opened #385 "Type 'IterableAPI' has no member 'setEmail'"
Hi Guys I am trying to install the react native SDK in my project but I get this error, I am using an M1

![image](https://user-images.githubusercontent.com/18728297/184192879-539aca0c-39bb-46ca-a2b5-0f289fe18234.png)

[2022-08-11 19:28] carl0shd commented on #385
This happens to me as well, I tested in a clean RN project.

[2022-08-11 21:53] Ayyanchira commented on #385
1.3.5 has been released to mitigate this issue. Thank you for reporting this.

[2022-08-11 21:53] #385 closed

[2022-08-11 23:14] vbabenkoru commented on #362
While we're still working on a solution that would work for everyone, we can suggest a workaround: you can create an Objective-C class that contains code that makes calls to the Iterable SDK, and use that class from the Objective-C++-based AppDelegate. The issue is that importing Swift modules is impossible in Objective-C++, and RN has switched to Objective-C++ for the AppDelegate, making Iterable

[2022-08-12 00:51] vbabenkoru commented on #362
I've created a Gist with an implementation of this workaround you could use: https://gist.github.com/vbabenkoru/8518092ddd2500a3dda3c3e5bef36649

[2022-08-12 02:40] shamilovtim commented on #362
In the past I've been able to get podspecs to spit out Swift headers for other SDKs. Here's an example of how I got a vendor's project to provide the headers:

[code]

[2022-08-12 17:28] Ayyanchira commented on #371
Hi @vladiRozen, Thanks for reporting this.
You can use - `Iterable.inAppManager.setAutoDisplayPaused(true)` when you want to prevent inapps to be shown in certain screens or time. Make sure to turn it back to false when the app is ready to show the inapp.
Reference:
Hope this helps :)

[2022-08-12 17:28] #371 closed

[2022-08-13 00:17] BrianCortes commented on #370
Hi guys I am testing with the last 1.3.5 version and get the same error:
[code]
is related to this API `IterableLogLevel.info`

[2022-08-18 21:16] huds79 opened #390 "Function urlHandler doesn't run in Android"
I am using the function urlHandler to manage the deepLinks and the universal links when opening a push notification with a link.

Iterable code:
const config = new IterableConfig();
config.autoPushRegistration = true;
config.urlHandler = url => {
   handleOpenURL({ url });
   return true;
};
let result = false;
  try {
    result = await Iterable.initialize(ITERABLE_API_KEY, config);
  } catch (e)

[2022-08-19 02:47] Ayyanchira commented on #390
@huds79 , thank you for reaching out,
Have you set the context in generated Android project as shown [here](https://support.iterable.com/hc/en-us/articles/360045714132-Installing-Iterable-s-React-Native-SDK-#_4-configure-your-native-android-project)?

[code]

[2022-08-22 13:58] alexmngn opened #391 "Can't build Android after upgrading to RN 0.69"
Hello,
I have upgraded my project to use the latest version of React Native 0.69
While I can make a debug build without issue, I'm facing an error I cannot resolve when I make a production build on Android

[code]

I have the same issue with my local machine and the CI.
Removing the iterable dependency from my project allows me to build.
I've tried different versions of iterable, including the lat

[2022-08-22 15:26] huds79 commented on #390
@Ayyanchira thank you for your answer

Yes, I follow the instructions on the Installing Iterable's React Native SDK page, I have those lines in the MainApplication file.

<img width="615" alt="image" src="https://user-images.githubusercontent.com/13575116/185958968-cbe89101-05b4-4f2f-9699-7e8b91c7a4c5.png">

[2022-08-22 17:05] Ayyanchira commented on #391
Thanks for reporting @alexmngn.
What is your Android app's targetSDK version?
Have you tried updating it?

[2022-08-23 07:29] alexmngn commented on #391
This is my gradle config which is the same one as RN 0.69

[code]

[2022-08-23 16:48] Ayyanchira commented on #390
Is it a custom link? By default, IterableSDK supports https links. However, if it is a custom link, it must be specified in [allowedProtocols](https://support.iterable.com/hc/en-us/articles/360045714132-Installing-Iterable-s-React-Native-SDK-#_6-initialize-the-sdk).

Also feel free to have your Iterable Admin create a support ticket so we can look at templates and get a deeper look why this is hap

[2022-08-24 15:24] huds79 commented on #390
I am trying with deeplinks with this form:
appname://list/
The deeplinks are working when I open in a page or external app.
I tried with: `config.allowedProtocols = ['http', 'https', 'appname'];`
I tried with: `config.allowedProtocols = ['http', 'https', 'custom'];` too with the same result

[2022-08-24 19:11] Ayyanchira commented on #391
Hi @alexmngn ,
Have you tried this?
`./gradlew app:assembleRelease`

Let me know if that helps...
Reference: https://stackoverflow.com/a/61932616/6059451

[2022-08-25 09:29] alexmngn commented on #391
@Ayyanchira I have just tried to use this command and yes, it does build properly.
That's a workaround I can use for now until the versions of the iterable sdk get more in sync with the latest RN.

[2022-08-29 18:20] vbabenkoru commented on #362
Another, simpler workaround. I've generated the Objective-C compatibility header and posted it as a Gist here: https://gist.github.com/vbabenkoru/830bb645c50cc016dd0be158eff07dd8
Steps:
* Download the file above and add this `IterableSDK-Swift.h` file to your project
* Replace this line in your AppDelegate:
```@import IterableSDK;```
with
```#import "IterableSDK-Swift.h"```

[2022-09-02 15:06] #346 closed

[2022-09-05 19:15] DBCintron commented on #370
Having the same experience with Iterable 1.3.6 and RN 0.68.2

@BrianCortes were you able to resolve?

[2022-09-08 07:36] nymphetamineinside opened #392 "was customActionHandler action changed?"
We have 1.1.3 package installed.
It worked great until you changed push template form design.

We use `custom Action`. and if we type something in the field, for example `myCustomAction`
then we checked in the app as `action.type === 'myCustomAction'`.

It worked so for ages, but now we will have to check `action.data === 'myCustomAction'`
because type now is 'customAction'.

Is it an issue or was

[2022-09-08 16:01] Ayyanchira commented on #392
Thanks for sharing this @nymphetamineinside. I'll have it looked by appropriate team.

[2022-09-15 14:37] versten1uk commented on #370
same for 1.3.6 and RN 0.68.3

[2022-09-22 09:49] KatarzynaLorek opened #394 "When hard-closed Android app is opened with push notifications, it doesn't handle next notifications"
We've implemented Iterable push notifications with custom action as an open action. App handle them well with custom action handler, but there's one case when handler isn't triggered.

Steps to reproduce:
1) Send the push notification and open hard closed app with it - it triggers the custom action handler.
2) Send second notification
3) Open second notification with app in foreground or backgroun

[2022-09-22 17:54] Kriptikz commented on #370
Looks like for some reason using an import with just a `'.'` like `import IterableConfig from '.'` doesn't work with RN 0.68.x

You can update the files in `node_modules/@iterable/react-native-sdk/js` to use `'./'` instead. Here is a patch-package example:

`/<project>/patches/@iterable+react-native-sdk+1.3.6.patch`

[code]

[2022-09-22 21:33] vbabenkoru commented on #362
@shamilovtim Which libraries were having issues when using `-fcxx-modules`? We're trying to reproduce that issue in our test project.

[2022-09-22 23:54] shamilovtim commented on #362
Generally speaking we use a lot of libraries here at Shipt but some major (well known) ones are: `react-navigation`, `react-native-screens`, `expo`, `react-native-reanimated`, `react-native-mmkv`. My memory is fuzzy but I seem to remember that flag caused major compatibility issues.  If I remember correctly there were so many issues that the flag was not even in a possibility to try to fix or use.

[2022-09-23 01:32] vbabenkoru commented on #362
@shamilovtim Thank you! While the workarounds posted above work fine, we're still looking with a perfect long-term solution without workarounds. Looks like in the last few releases RN has fixed a few issues related to Swift/Objective-C++ code in recent versions, but I'm not sure if that fixes all the various mutually-exclusive compatibility issues introduced in RN 0.68.

[2022-10-03 14:45] ahendricks commented on #392
Hi @nymphetamineinside, this should be resolved. Could you check if everything looks good from your end?

[2022-10-03 15:36] nymphetamineinside commented on #392
a

Thanks a lot! Checking now

[2022-10-03 15:46] nymphetamineinside commented on #392
@ahendricks
Custom action works as expected now.

Thanks!

[2022-10-14 18:17] 16francej opened #402 "Add IterableInAppMessage to index.ts"
The type `IterableInAppMessage` should be accessible from the top-level `index.ts` file. It's necessary for typescript users who are looking to overwrite the `inAppHandler` per https://support.iterable.com/hc/en-us/articles/360045714172-In-App-Messages-with-Iterable-s-React-Native-SDK-#showing-or-skipping-an-incoming-in-app-message. This is a common use-case, and should be available through the sa

[2022-10-14 19:29] #392 closed

[2022-10-17 19:23] #115 closed

[2022-10-28 18:40] marcmoo opened #409 "crash due to Iterable.logger.log is undefined - ^1.3.6"
![image](https://user-images.githubusercontent.com/31117561/198708735-d494e01c-5a07-4a1b-922f-3e389e74f001.png)

Iterable Version:
package.json
		"@iterable/react-native-sdk": "1.3.6",
podfile.lock
  - Iterable-iOS-SDK (6.4.7)
  - Iterable-React-Native-SDK (1.3.6):
    - Iterable-iOS-SDK (~> 6.4.7)

[2022-11-07 09:48] jasonhcgt commented on #391
@Ayyanchira I was working on fixing this error and just found this answer, thanks bro.

[2022-11-22 09:47] markgibaud-vtail opened #425 "Can't properly control Iterable push notifications with Firebase when app is in quit state"
I have contacted Iterable support about this but we've been unable to come up solution, so I'm posting here in case anybody else can help!

## Current state

We've implemented push notifications from Iterable using the usual `react-native-firebase`. All PNs from all our providers (Iterable, Intercom, and ourselves via `firebase-admin` from our own backend) in foreground/background/quit state work